FE_Ventura_Resumen/VSCPEMain/src/META-INF/wsdl/proy.ose.tci.net.pe/ol-ti-itcpe-2/ws/billService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.sunat.gob.pe" targetNamespace="http://service.sunat.gob.pe">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.sunat.gob.pe" version="1.0">
            <xs:element name="getStatus" type="tns:getStatus"/>
            <xs:element name="getStatusResponse" type="tns:getStatusResponse"/>
            <xs:element name="getStatusCdr" type="tns:getStatusCdr"/>
            <xs:element name="getStatusCdrResponse" type="tns:getStatusCdrResponse"/>
            <xs:element name="sendBill" type="tns:sendBill"/>
            <xs:element name="sendBillResponse" type="tns:sendBillResponse"/>
            <xs:element name="sendPack" type="tns:sendPack"/>
            <xs:element name="sendPackResponse" type="tns:sendPackResponse"/>
            <xs:element name="sendSummary" type="tns:sendSummary"/>
            <xs:element name="sendSummaryResponse" type="tns:sendSummaryResponse"/>

            <xs:complexType name="sendSummary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" type="xs:string"/>
                    <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" minOccurs="0" name="contentFile" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendSummaryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ticket" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ticket" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getStatusResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" type="tns:statusResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="statusResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="content" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="cdrStatusResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="content" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="statusCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="statusMessage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getStatusCdr">
                <xs:sequence>
                    <xs:element name="rucComprobante" type="xs:string" minOccurs="0"/>
                    <xs:element name="tipoComprobante" type="xs:string" minOccurs="0"/>
                    <xs:element name="serieComprobante" type="xs:string" minOccurs="0"/>
                    <xs:element name="numeroComprobante" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getStatusCdrResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" type="tns:cdrStatusResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendPack">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" type="xs:string"/>
                    <xs:element xmlns:ns2="http://www.w3.org/2005/05/xmlmime" minOccurs="0" name="contentFile" ns2:expectedContentTypes="application/octet-stream" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendPackResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ticket" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendBill">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fileName" type="xs:string"/>
                    <xs:element xmlns:ns3="http://www.w3.org/2005/05/xmlmime" minOccurs="0" name="contentFile" ns3:expectedContentTypes="application/octet-stream" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sendBillResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationResponse" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getStatus">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:getStatus"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:getStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="getStatusCdr">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:getStatusCdr"/>
    </wsdl:message>
    <wsdl:message name="getStatusCdrResponse">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:getStatusCdrResponse"/>
    </wsdl:message>
    <wsdl:message name="sendPack">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendPack"/>
    </wsdl:message>
    <wsdl:message name="sendPackResponse">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendPackResponse"/>
    </wsdl:message>
    <wsdl:message name="sendBill">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendBill"/>
    </wsdl:message>
    <wsdl:message name="sendBillResponse">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendBillResponse"/>
    </wsdl:message>
    <wsdl:message name="sendSummary">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendSummary"/>
    </wsdl:message>
    <wsdl:message name="sendSummaryResponse">
        <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendSummaryResponse"/>
    </wsdl:message>

    <wsdl:portType name="billService">
        <wsdl:operation name="getStatus">
            <wsdl:input message="tns:getStatus" name="getStatusRequest"/>
            <wsdl:output message="tns:getStatusResponse" name="getStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendPack">
            <wsdl:input message="tns:sendPack" name="sendPackRequest"/>
            <wsdl:output message="tns:sendPackResponse" name="sendPackResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendBill">
            <wsdl:input message="tns:sendBill" name="sendBillRequest"/>
            <wsdl:output message="tns:sendBillResponse" name="sendBillResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendSummary">
            <wsdl:input message="tns:sendSummary" name="sendSummaryRequest"/>
            <wsdl:output message="tns:sendSummaryResponse" name="sendSummaryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStatusCdr">
            <wsdl:input message="tns:getStatusCdr" name="getStatusCdrRequest"/>
            <wsdl:output message="tns:getStatusCdrResponse" name="getStatusCdrResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BillServicePortBinding" type="tns:billService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="urn:getStatus" style="document"/>
            <wsdl:input name="getStatusRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatusCdr">
            <soap:operation soapAction="urn:getStatusCdr" style="document"/>
            <wsdl:input name="getStatusCdrRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStatusCdrResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendPack">
            <soap:operation soapAction="urn:sendPack" style="document"/>
            <wsdl:input name="sendPackRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendPackResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendBill">
            <soap:operation soapAction="urn:sendBill" style="document"/>
            <wsdl:input name="sendBillRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendBillResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendSummary">
            <soap:operation soapAction="urn:sendSummary" style="document"/>
            <wsdl:input name="sendSummaryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendSummaryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="billService">
        <wsdl:port binding="tns:BillServicePortBinding" name="BillServicePort">
            <soap:address location="https://proy.ose.tci.net.pe:443/ol-ti-itcpe-2/billService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>